.swiper {
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: visible;

    .swiper-slide {
        height: 100%;
        border-radius: 10%;
        background-image: url("../public/Images/service.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        transition: transform 0.3s ease, border 0.3s ease;
        border: 2px solid transparent;


        a {
            display: block;
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
        }

        h3 {
            color: white;
            font-size: 1.6vw;
        }

        p {
            color: white;
            font-size: 1.3vw;
        }


        .image {
            border: 1px solid white;
            background-color: #FFE0B0;
            position: absolute;
            bottom: 75%;
            right: 40%;
            width: 5vw;
            height: 5vw;
            border-radius: 50%;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            transform: translateY(-10px);

            border: 4px solid yellow;

        }
    }


    .swiper-button-next {
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        opacity: 0.7;
        transition: opacity 0.3s ease;
        z-index: 2;
        right: -40px;
    }


    .swiper-button-prev {
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        opacity: 0.7;
        transition: opacity 0.3s ease;
        left: -40px;
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        opacity: 1;
    }


    .swiper-pagination {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: #ccc;
        opacity: 0.5;
        margin: 0 5px;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }


    .swiper-pagination-bullet-active {
        background-color: yellow;
        opacity: 1;
    }


    .swiper-pagination-bullet:hover {
        background-color: #555;
        opacity: 0.8;
    }
}

@media (max-width: 1000px) {
    .swiper {
        width: 90%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        overflow: hidden;

        .swiper-slide {
            height: 100%;
            border-radius: 10%;
            background-image: url("../public/Images/service.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            transition: transform 0.3s ease, border 0.3s ease;
            border: 2px solid transparent;


            a {
                display: block;
                cursor: pointer;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-direction: column;
            }

            h3 {
                color: white;
                font-size: 1.2vw;
            }

            p {
                color: white;
                font-size: 1vw;
            }


            .image {
                border: 1px solid white;
                background-color: #FFE0B0;
                position: absolute;
                bottom: 75%;
                right: 40%;
                width: 5vw;
                height: 5vw;
                border-radius: 50%;
                background-position: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:hover {
                transform: translateY(-10px);

                border: 4px solid yellow;

            }
        }


        .swiper-button-next {
            background-color: #000;
            color: #fff;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            opacity: 0.7;
            transition: opacity 0.3s ease;
            z-index: 2;
            right: -40px;
        }


        .swiper-button-prev {
            background-color: #000;
            color: #fff;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            opacity: 0.7;
            transition: opacity 0.3s ease;
            left: -40px;
        }

        .swiper-button-next:hover,
        .swiper-button-prev:hover {
            opacity: 1;
        }


        .swiper-pagination {
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background-color: #ccc;
            opacity: 0.5;
            margin: 0 5px;
            border-radius: 50%;
            transition: background-color 0.3s ease;
        }


        .swiper-pagination-bullet-active {
            background-color: yellow;
            opacity: 1;
        }


        .swiper-pagination-bullet:hover {
            background-color: #555;
            opacity: 0.8;
        }
    }
}