.section2 {
    background-color: #947244;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .haqqinda {
        background-color: #3C3B3B;
        width: 45%;
        height: auto;
        z-index: 999;
        position: absolute;
        left: 5%;
        top: 0;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 1s ease-out, opacity 0.5s ease-out;
        border-radius: 10%;


        &.slide-in {
            transform: translateX(0);
            opacity: 1;
        }

        .haqqimizda {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            margin: 5%;
            width: 100%;
            box-sizing: border-box;

            h1 {
                color: white;
                font-size: 70px;
                font-weight: 600;
            }

            h2 {
                color: white;
                font-size: 30px;
            }

            ul {
                li {
                    color: white;
                    display: flex;
                    font-size: 22px;

                    p {
                        font-weight: 1000;
                    }

                    li::before {
                        color: white;
                        content: ".";
                    }
                }
            }
        }
    }

    .image {
        background-image: url("../Images/ofis.png");
        width: 70%;
        height: 95%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 100;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 1s ease-out, opacity 0.5s ease-out;


        &.slide-in {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@media (max-width: 1200px) {
    .section2 {
        display: none;
    }
}